// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

///
/// Ellipsis.
///
@mixin ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

///
/// Font smoothing.
///
@mixin font-smoothing {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
