// ============================================================================================= //
//                                            MIXINS                                             //
// ============================================================================================= //

///
/// Disabled touch screen.
///
@mixin disabled-touch-screen {
    @media (pointer: fine) {
        @content;
    }
}

///
/// Disabled pointer events.
///
@mixin disabled-pointer-events {
    cursor: default;
    pointer-events: none;
}

///
/// Ellipsis.
///
@mixin ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

///
/// Ellipsis multiline.
///
/* stylelint-disable */
@mixin ellipsis-multiline($line: 2, $orient: vertical) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: $orient;
    overflow: hidden;
}
/* stylelint-enable */

///
/// Font smoothing.
///
@mixin font-smoothing {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
