// ============================================================================================= //
//                                             TEST                                              //
// ============================================================================================= //

@use "true" as *;
@use "../index" as utilities;

@include describe("utilities.disabled-touch-screen()") {
    @include it("Should return disabled touch screen declaration.") {
        @include assert {
            @include output {
                .test {
                    @include utilities.disabled-touch-screen {
                        color: darkcyan;
                    }
                }
            }

            @include expect {
                @media (pointer: fine) {
                    .test {
                        color: darkcyan;
                    }
                }
            }
        }
    }
}

@include describe("utilities.disabled-pointer-events()") {
    @include it("Should return disabled pointer events declaration.") {
        @include assert {
            @include output {
                .test {
                    @include utilities.disabled-pointer-events;
                }
            }

            @include expect {
                .test {
                    cursor: default;
                    pointer-events: none;
                }
            }
        }
    }
}

@include describe("utilities.ellipsis()") {
    @include it("Should return ellipsis declaration.") {
        @include assert {
            @include output {
                .test {
                    @include utilities.ellipsis;
                }
            }

            @include expect {
                .test {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
        }
    }

    @include it("Should return ellipsis multiline declaration.") {
        @include assert {
            @include output {
                .test {
                    @include utilities.ellipsis-multiline;
                }
            }

            @include expect {
                .test {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
    }
}

@include describe("utilities.font-smoothing()") {
    @include it("Should return font smoothing declaration.") {
        @include assert {
            @include output {
                .test {
                    @include utilities.font-smoothing;
                }
            }

            @include expect {
                .test {
                    -moz-osx-font-smoothing: grayscale;
                    -webkit-font-smoothing: antialiased;
                }
            }
        }
    }
}
